<strong>1. 평균 점수 구하기</strong>

In [2]:
kor = 80
eng = 75
met = 55
avg = (kor + eng + met)/3
print(f"홍길동씨의 평균 점수는 {avg}입니다.")

홍길동씨의 평균 점수는 70.0입니다.

<strong>2. 홀수, 짝수 판별하기</strong>

In [3]:
# 주어진 수를 2로 나누었을 때 0으로 딱 떨어지면 찍수, 아니면 홀수

<strong>3. 주민등록번호 나누기</strong>

In [7]:
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
1068234

<strong>4. 주민등록번호 인덱싱</strong>

In [8]:
pin = "881120-1068234"
print(pin[7])

1

<strong>5. 문자열 바꾸기</strong>

In [10]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

<strong>6. 리스트 역순 정렬하기</strong>

In [14]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

<strong>7. 리스트를 문자열로 만들기</strong>

In [17]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(['Life', 'is', 'too', 'short'])
print(result)

Life is too short

<strong>8. 튜플 더하기</strong>

In [34]:
a = (1,2,3)
b = (4,)
aa = a + b
print(aa)

(1, 2, 3, 4)

<strong>9. 딕셔너리의 키</strong>

In [40]:
a = dict()
a
# 오류 발생하는 경우와 이유
a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python'  <--- 오류발생 : 딕셔너리의 키값에는 리스트를 쓸 수 없음
a[250] = 'python'

<strong>10. 딕셔너리 값 추출하기</strong>

In [47]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

<strong>11. 리스트에서 중복 제거하기</strong>

In [54]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

<strong>12. 파이썬 변수</strong>

In [57]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

# b의 두 번째 요소값도 변경된다.
# 같은 객체를 가리키고있기 때문
a is b

[1, 4, 3]

True