In [10]:
# 01 평균 점수 구하기

sub = {"국어": 80, "영어": 75, "수학": 55}

ev = int(sub["국어"]) + int(sub["영어"]) + int(sub["수학"])

ev = ev / len(sub)

print(f'평균은 {ev}')

평균은 70.0

In [9]:
# 02 홀수, 짝수 판별하기

num = 13 

if num % 2:
    print(f'{num}은 홀수')
else: 
    print(f'{num}은 짝수')

13은 홀수

In [14]:
# 03 주민등록번호 나누기

pin = "881120-1068234"

yyyymmdd = pin.split('-')[0]
num = pin.split('-')[1]

print(yyyymmdd)
print(num)

881120
1068234

In [25]:
# 04 주민등록번호 인덱싱

pin = "881120-1068234"

print(pin[-7])

1

In [20]:
# 05 문자열 바꾸기

a = "a:b:c:d"
b = a.replace(':', '#')
print(b)

a#b#c#d

In [24]:
# 06 리스트 역순 정렬하기

a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [33]:
# 07 리스트를 문자열로 만들기

a = ['Life', "is", 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

In [48]:
# 08 튜플 더하기

a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [66]:
# 09 딕셔너리의 키

a = dict()

a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python'  # <- key 값에 list는 쓸 수 없다.
a[250] = 'python'

print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

In [55]:
# 10 딕셔너리 값 추출하기

a = {'A':90, 'B':80, 'C':70}

result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [64]:
# 11 리스트에서 중복 제거하기

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [65]:
# 12 파이썬 변수

a = b = [1, 2, 3]
a[1] = 4
print(b)

# 같은 메모리 공간을 참조하고 있기 때문

[1, 4, 3]