In [1]:
# Q1 평균점수 구하기
국어 = 80
영어 = 75
수학 = 55
print((국어+영어+수학)/3)

70.0

In [4]:
# Q2 홀수,짝수 판별하기
자연수 = 13
나머지 = 자연수%2
print(f'{자연수}을 나누었을 때, 나머지가 {나머지}이므로 이는 홀수입니다.')

13을 나누었을 때, 나머지가 1이므로 이는 홀수입니다.

In [7]:
# Q3 주민들록번호 나누기
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [10]:
# Q4 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7])

1

In [13]:
# Q5 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [16]:
# Q6 리스트 역순 정렬하기
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [17]:
# Q7 리스트를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [45]:
# Q8 튜플 더하기
a = (1,2,3)
a = (1,2,3) + (4,)
print(a)

(1, 2, 3, 4)

In [33]:
# Q9 딕셔너리의 키
a = dict()
a

#1 a['name'] = 'python'
#2 a[('a',)] = 'python'
#3 a[[1]] = 'python'
#4 a[250] = 'python'


# 오류가 발생하는 경우는 #3이며, 그 이유는 키의 형태가 리스트이기 때문이다.

{}

In [43]:
# Q10 딕셔너리 값 추출하기
a = {'A':90, 'B':80, 'C':70}
result = a.get('B')
print(result)

80

In [36]:
# Q11 리스트에서 중복 제거하기
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [46]:
# Q12 파이썬 변수
a = b = [1,2,3]
a[1] = 4
print(b)

a is b
# a와 b는 동일한 값이라는 대입을 설정했기 때문에, a의 변형에 b도 함께 값이 변형되어 나타나게 된다.

[1, 4, 3]

True