# 되새김 문제 풀기 p116~p119

## 1. 평균 점수 구하기
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자
- 국어:80점
- 영어:75점
- 수학:55점

In [5]:
kor = 80
eng = 75
mat = 55

plus = kor+eng+mat
dev = plus/3

print(f'홍길동 씨의 평균 점수는 {dev}점 입니다.')

홍길동 씨의 평균 점수는 70.0점 입니다.

## 2. 홀수, 짝수 판별하기
자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자

In [15]:
a = 13

res = a%2
if res==1 :
    print(f'{a}는 홀수 입니다.')
else :
    print(f'{a}는 짝수 입니다.')

13는 홀수 입니다.

## 3. 주민등록번호 나누기
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 <br>
연월일(YYYYMMDD)부분과 그뒤의 숫자 부분으로 나누어 출력해보자.
- pin ="881120-1068234"
- yyyymmdd =[            ]
- num =[         ]
- print(         )  <- 연월일 부분 출력
- print(         ) <- 숫자 부분 출력

In [36]:
pin ="881120-1068234"
print(f'yyyymmdd = {pin[0:6]}')
print(f'num = {pin[7:]}')
print(pin[0:6])
print(pin[7:])

yyyymmdd = 881120
num = 1068234
881120
1068234

## 4. 주민등록번호 인덱싱
주민등록번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자
- pin = "881120-1068234" 
- print(       )

In [22]:
pin = "881120-1068234"
print(pin[7:8])

1

## 5. 문자열 바꾸기
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔 출력해보자.
- a = "a:b:c:d"
- b =[           ]
- print(b) <-문자열 "a#b#c#d" 출력

In [24]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

## 6. 리스트 역순 정렬하기
[1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자
- a = [1,3,5,4,2]
- a.[             ] <- [1,2,3,4,5]로 변경
- a.[             ] <- [5,4,3,2,1]로 변경
- print(     )

In [25]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## 7. 리스트를 문자열로 만들기
['Life','is','too','short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
- a =['Life','is','too','short']
- result = [                ]
- print(result) <- "Life is too short" 출력

In [30]:
a =['Life','is','too','short']
result = " ".join(['Life','is','too','short'])
print(result)

Life is too short

## 8. 튜플 더하기
(1,2,3)튜플에 값 4를 추가하여 (1,2,3,4)를 만든 후 출력해 보자
- a =(1,2,3)
- a = [      ]
- print(a) <-(1,2,3,4) 출력

In [35]:
a =(1,2,3)
a = a+(4,)
print(a)

(1, 2, 3, 4)

## 9.딕셔너리의 키
다음과 같은 딕셔너리 a가 있다.
- a = dict()
- a
- {}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
- a['name'] = 'python'
- a[('a')] = 'python'
- a[[a]] = 'python'
- a[250] = 'python'

In [54]:
a = dict()

a['name'] = 'python'
a[('a')] = 'python'
# a[[a]] = 'python' # Key값에 리스트는 쓸수없다.  딕셔너리는 Key값이 변하면 안되기 때문에 값이 변할 수 있는 리스트를 넣었을 경우 에러가 발생한다.
a[250] = 'python'
print(a)

{'name': 'python', 'a': 'python', 250: 'python'}

## 10. 딕셔너리 값 추출하기
딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자
- a ={'A':90, 'B':80, 'C':70}
- result[           ]
- print(a) <-{'A':90, 'C':70}출력
- print(result) <- 80출력

In [60]:
a ={'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

## 11. 리스트에서 중복 제거하기
a 리스트에서 중복 숫자를 제거해 보자.
- a = [1,1,1,2,2,3,3,3,4,4,5]
- aSet = [     ] <- a 리스트를 집합 자료형으로 변환
- b = [     ] <- 집합 자료형을 리스트 자료형으로 다시 변환
- print(b) <- [1,2,3,4,5] 출력

In [73]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b,type(b))

[1, 2, 3, 4, 5] <class 'list'>

## 12. 파이썬 변수
파이썬은 다음처럼 동일한 값에 여러개의 변수를 선언할 수 있다. 다음과 같이 a, b변수를 선언한 후 <br>
a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나타나는 이유를 설명해 보자.
- a =b =[1,2,3]
- a[1] =4
- print(b)

In [65]:
a = b =[1,2,3] 
a[1] =4 
print(b)
# a와 b 가 저장된 메모리 주소 값이 동일하기 때문에 a값을 변경하면 동일한 주소값인 b도 변하는 것이다.

[1, 4, 3]