# 평균점수 구하기
<!--  -->홍길동 씨의 과목별 점수는 다음과 같다. 홍길동씨의 평균 점수를 구해보자.

In [5]:
국어=80
영어=78
수학=55
평균점수=(국어+영어+수학)/3
print(평균점수)

71.0

# 홀수, 짝수 판별하기
<!--  -->자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [7]:
number=input('숫자를 입력하세요.')
if int(number)%2==1:
      print('홀수입니다.')
if int(number)%2==0:
    print('짝수입니다.')

숫자를 입력하세요. 8

짝수입니다.

# 주민등록번호 나누기
<!--  -->홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

In [11]:
pin="881120-1068234"
yyyydmmdd=pin[0:6]
num = pin[7:14]
print(yyyydmmdd)
print(num)

881120
1068234

# 주민등록번호 인덱싱
<!--  -->주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [5]:
pin="881120-1068234"
print(pin[7])

1

# 문자열 바꾸기
<!--  -->다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔 출력해 보자.

In [18]:
a="a:b:c:d"
b= a.replace(":","#")
print(b)

a#b#c#d

# 리스트 역순 정렬하기
<!--  -->[1,3,5,4,2]리스트를 [5,4,3,2,1]로 만들어 보자.

In [32]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# 리스트를 문자열로 만들기
<!--  -->['Life','is','too','short']리스트를 Life is too short문자열로 만들어 출력해 보자.

In [45]:
a = ['Life','is','too','short']
result =" ".join(a)
print(result)

Life is too short

# 튜플 더하기
<!--  -->(1,2,3)튜플 값에 값 4를 추가하여 (1,2,3,4)를 만든 후 출력해 보자.

In [64]:
a= (1,2,3)
a= a+ (4,)
print(a)

(1, 2, 3, 4)

# 딕셔너리의 키
<!--  -->다음과 같은 딕셔너리 a가 있다.

In [65]:
a[[1]]='python'
#Python 딕셔너리에서는 키로 사용할 수 없다..

TypeError: 'tuple' object does not support item assignment

# 딕셔너리 값 추출하기
<!--  -->딕셔너리 a에서 'B'에 해당하는 값을 추출해보자.

In [62]:
a={'A':90,'B':80,'C':70}
result= a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

# 리스트에서 중복 제거하기
<!--  -->a리스트에서 중복 숫자를 제거해 보자.

In [63]:
a= [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

# 파이썬 변수
<!--  -->파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b변수를 선언한 후 a 두번째 요소 값을 변경하면 b값은 어떻게 될까? 그리고 이런 결과가 나타나는 이유를 설명해 보자.

In [ ]:
[1,4,3]으로 된다! a,b모두 동일한 리스트를 가리키고 있기 때문이다.