# 되새김 문제

In [2]:
# 1. 평균 점수 구하기
kor = 80
eng = 75
math = 55

average = (kor + eng + math)/3
print(average)

70.0

In [13]:
# 2. 홀수, 짝수 판별하기
num = int(input("원하는 숫자를 적으세요"))
result = num%2
print(result," => 0 이면 짝수이고 1 이면 홀수입니다.")

원하는 숫자를 적으세요 13

1  => 0 이면 짝수이고 1 이면 홀수입니다.

In [19]:
# 3. 주민등록번호 나누기
pin = "881120-1068234"
yyymmdd = pin[:6]
num = pin[-7:]
print(yyymmdd)
print(num)

881120
1068234

In [23]:
# 4. 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7:8])

1

In [25]:
# 5. 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [36]:
# 6. 리스트 역순 정렬하기
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [40]:
# 7. 리스트를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

In [43]:
# 8. 튜플 더하기
a = (1, 2, 3)
b = (4,)
a = a + b
print(a)

(1, 2, 3, 4)

In [46]:
# 9 딕셔너리의 키
a = dict()
print(a)
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' #키에 리스트는 쓸 수 없기 때문
a[250] = 'python'

{}

TypeError: unhashable type: 'list'

In [44]:
# 10. 딕셔너리 값 추출하기
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [47]:
# 11. 리스트에서 중복 제거하기
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [49]:
# 12.파이썬 변수
a = b = [1,2,3]
a[1] = 4
print(b)
# 위치 1인 2가 4로 대치되어 [1, 4, 3]이 된다.
# a = b이기 때문에 a값이 바뀌면 b 값도 바뀐다.

[1, 4, 3]