In [2]:
# Q1
홍길동 = {'국어': 80, '영어': 75, '수학': 55}
print(f"홍길동 평균 : {(홍길동['국어'] + 홍길동['영어'] + 홍길동['수학']) / 3}")

홍길동 평균 : 70.0

In [4]:
# Q2
num = 13
print(f"{num%2}이라서 홀수")

1이라서 홀수

In [7]:
# Q3
pin = "881120-1068234"
yyyymmdd = pin[:6]
print(yyyymmdd)
num = pin[7:]
print(num)

881120
1068234

In [10]:
# Q4
pin = "881120-1068234"
print(f"주민번호 뒷자리 맨 첫 숫자가 {pin[7]}이니까 남자임")

주민번호 뒷자리 맨 첫 숫자가 1이니까 남자임

In [11]:
# Q5
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [12]:
# Q6
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [14]:
# Q7
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [15]:
# Q8
a = (1,2,3)
a += (4,)
print(a)

(1, 2, 3, 4)

In [22]:
# Q9
a = dict()

# a[[1]] = 'python' 오류, 리스트에 없는 요소 인덱싱하면 오류남

In [23]:
# Q10
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [26]:
# Q11
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [27]:
# Q12
a = b = [1,2,3]
a[1] = 4
print(b)

# b는 [1,4,3] 출력, 얕은 복사이기 때문에 id값이 동일함. 같은 주소값이기 때문에 a의 요소를 변경하면 b도 같이 변경됨

[1, 4, 3]