In [1]:
# 1.평균 점수 구하기
국어 = 80
영어 = 75
수학 = 55
print((국어 + 영어 + 수학)/3)

70.0

In [40]:
# 2. 홀수, 짝수 판별하기
num1 = 13
num2 = num1 % 2
print(f'{num1}을 2로 나눴을때 {num2}이 나오므로 홀수이다.')

13을 2로 나눴을때 1이 나오므로 홀수이다.

In [22]:
# 3. 주민등록번호 만들기
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [23]:
# 4. 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7])

1

In [26]:
# 5. 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [27]:
# 6. 리스트 역순 정렬하기
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [29]:
# 7. 리스트를 문자열로 만들기
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [30]:
# 8. 튜플 더하기
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [32]:
# 9. 딕셔너리의 키
a = dict()
a
{}
# 3번째가 오류임. 이유는 딕셔너리의 키로 변하는 값을 사용할 수 없기 때문.

{}

In [20]:
# 10. 딕셔너리의 값 추출하기
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [19]:
# 11. 리스트에서 중복 제거하기
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [33]:
# 12. 파이썬 변수
a = b = [1,2,3]
a[1] = 4
print(b)
#b에서 첫번째 숫자가 4로 변경되어서 나온다. b랑 a는 동일한 것을 가리키고 있기 때문.

[1, 4, 3]