In [70]:
# 1.평균 점수 구하기
a = 80
b = 75
c = 55
d = a+b+c 
print(d/3)

70.0

In [71]:
# 2. 홀수, 짝수 판별하기
print(1%2)
print(2%2)
print(3%2)
print(4%2)

print(13%2)
# 짝수의 몫은 0이고, 홀수의 몫은 1이다. 따라서 13은 홀수이다.

1
0
1
0
1

In [72]:
# 3.주민등록번호 나누기
pin ="881120-1068234"
yyyymmdd = 881120
num = 1068234
print(yyyymmdd)
print(num)

881120
1068234

In [73]:
# 4. 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7])

1

In [74]:
# 5. 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [75]:
# 6. 리스트 역순 정렬하기
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [76]:
# 7. 리스트를 문자열로 만들기
a= ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [77]:
# 8. 튜플 더하기
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [91]:
# 9. 딕셔너리의 키
a = dict()
a

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'

# a[[1]] = 'python'
# Traceback (most recent call last): 
# Cell In[91], line 7    
# TypeError: unhashable type: 'list'
# Key는 리스트에 쓸 수 없기 때문에 사용할 수 없다는 오류가 발생한다.

TypeError: unhashable type: 'list'

In [88]:
# 10. 딕셔너리 값 추출하기
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [89]:
# 11. 리스트에서 중복 제거하기
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [90]:
# 12. 파이썬 변수
a = b = [1,2,3]
a[1] = 4
print(b)

# print(b) = [1,4,3]
# a와 b은 서로 같은 메모리를 가리켜서 여러 개의 변수에 같은 값을 대입할 수도 있다.

[1, 4, 3]