In [3]:
# !pip install pymongo

In [6]:
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017")

try:
    print(client.admin.command('ping'))
    print("MongoDB 서버에 성공적으로 연결되었습니다.")
except Exception as e:
    print("MongoDB 서버 연결 실패:", e)

{'ok': 1.0}
MongoDB 서버에 성공적으로 연결되었습니다.

In [7]:
# 사용할 데이터베이스 선택
db = client["mdb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬랙션 선택
collection = db["c1"]
print("사용할 컬렉션 선택됨")

사용할 데이터베이스 선택됨
사용할 컬렉션 선택됨

In [10]:
# 단일 문서 삽입
user = {"name":"Alice","age":25,"city":"Seoul"}
insert_result = collection.insert_one(user)
print("Inserted ID:",insert_result)

Inserted ID: InsertOneResult(ObjectId('67f5df0289cd04b68ab674b8'), acknowledged=True)

In [11]:
# 여러개 문서 삽입
user = [
    {"name":"Bob","age":30,"city":"Busan"},
    {"name":"Char","age":35,"city":"Incheon"},
    {"name":"Apple","age":15,"city":"Daegu"}]
insert_results = collection.insert_many(user)
print("Inserted IDs:",insert_results)

Inserted IDs: InsertManyResult([ObjectId('67f5df8b89cd04b68ab674b9'), ObjectId('67f5df8b89cd04b68ab674ba'), ObjectId('67f5df8b89cd04b68ab674bb')], acknowledged=True)

In [40]:
# 여러개의 문서 조회
users = collection.find({},{"_id": 0})
for u in users:
    print(u)

{'name': 'superman', 'etc': '힘쌤'}
{'name': 'cutegirl', 'age': 20, 'gender': 'female'}
{'name': 'Bob', 'age': 30, 'city': 'Busan'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}

In [18]:
# 단일 문서 조회
user = collection.find_one({"name":"Apple"}, {"_id": 0})
print(user)

{'name': 'Apple', 'age': 15, 'city': 'Daegu'}

In [29]:
# 특정 조건을 만족하는 문서 조회
filters = {"age":{"$gt":20}} # 나이가 20보다 큰 문서 찾기
filtered = collection.find(filters, {"_id": 0})
for f in filtered:
    print(f)

{'name': 'Alice', 'age': 26, 'city': 'Seoul'}
{'name': 'Bob', 'age': 30, 'city': 'Busan'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}

In [23]:
# 특정 문서 한 개 수정
update = collection.update_one({"name":"Alice"},{"$set":{"age":26}})
print("수정됨:",update)

수정됨: UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [34]:
# 특정 문서 여러개 수정
updates = collection.update_many({"name":{"$regex": "^A"}},{"$inc":{"age":5}}) # A로 시작하는 이름은 5살 증가시켜라.
# updates = collection.update_many({"name":"\/^A\/"},{"$inc":{"age":5}})
print("수정됨s:",updates)

수정됨s: UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [36]:
# 특정 문서 한개 문서 삭제
delete = collection.delete_one({"etc":"잘생김"})
print(delete)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [41]:
# 특정 문서 여러개 문서 삭제
deletes = collection.delete_many({"name":{"$regex": "e$"}}) # 정규식으로 e로 끝나는 이름을 모두 삭제
print(deletes)

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [43]:
import json

with open('./photos.json') as f:
    data = json.load(f)

In [44]:
# 사용할 데이터베이스 선택
db2 = client["jdb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬랙션 선택
collection2 = db["j1"]
print("사용할 컬렉션 선택됨")

사용할 데이터베이스 선택됨
사용할 컬렉션 선택됨

In [45]:
collection2.insert_many(data)
print("로드완료")

로드완료

In [52]:
out = collection2.find({'id': {'$lte': 30}})
for o in out:
    print(o["url"])

https://via.placeholder.com/600/92c952
https://via.placeholder.com/600/771796
https://via.placeholder.com/600/24f355
https://via.placeholder.com/600/d32776
https://via.placeholder.com/600/f66b97
https://via.placeholder.com/600/56a8c2
https://via.placeholder.com/600/b0f7cc
https://via.placeholder.com/600/54176f
https://via.placeholder.com/600/51aa97
https://via.placeholder.com/600/810b14
https://via.placeholder.com/600/1ee8a4
https://via.placeholder.com/600/66b7d2
https://via.placeholder.com/600/197d29
https://via.placeholder.com/600/61a65
https://via.placeholder.com/600/f9cee5
https://via.placeholder.com/600/fdf73e
https://via.placeholder.com/600/9c184f
https://via.placeholder.com/600/1fe46f
https://via.placeholder.com/600/56acb2
https://via.placeholder.com/600/8985dc
https://via.placeholder.com/600/5e12c6
https://via.placeholder.com/600/45601a
https://via.placeholder.com/600/e924e6
https://via.placeholder.com/600/8f209a
https://via.placeholder.com/600/5e3a73
https://via.placeholder.com/600/474645
https://via.placeholder.com/600/c984bf
https://via.placeholder.com/600/392537
https://via.placeholder.com/600/602b9e
https://via.placeholder.com/600/372c93